

* {
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
      
}

nav {
    font-size: larger;
    /* font-style: italic; */
    display: flex;
    background-color: rgb(33, 241, 206);
    padding: 15px;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 30px;
}